In [32]:
import matplotlib.pyplot as plp
import pandas as pd
from tabulate import tabulate
import tabula

In [33]:
pdf = tabula.read_pdf('../Data/16-02 a 19-02-23.pdf', pages='all')

Transformo somente a tabela de valores de aposta e data em um dataframe do pandas, minha primeira tabela no caso.
Read pdf retorna um elemento da lista para cada tabela que encontra.

In [34]:
df = pd.DataFrame(pdf[0])
columnName = df.columns[2] #pego o nome da segunda coluna

Concateno todas as apostas discriminadas.

In [35]:
tabBets = pd.concat(pdf[1:], ignore_index=True)

Abaixo eu separo a coluna em dois, valo investido e o retorno

In [36]:
df[['Invest', 'Retorno']] = df[columnName].str.split(' / ', expand=True)

Removo a coluna que eu separei anteriormente.

In [37]:
df.drop(columns=columnName, inplace=True)

Removo meu index com o valor total, pois da problema com outras funções adiante. O valor total é um dado que eu posso calcular de forma simples após o tratamento de todos os dados.

In [38]:
# df.info()
df = df[df['Dia do\rinvestimento'] != 'TOTAL']

In [39]:
df = df[df['Quantidade de\rapostas'] != 'Sem apostas']
df['Dia do\rinvestimento'] = pd.to_datetime(df['Dia do\rinvestimento'], format='%d/%m/%Y')
# df.info()
# index_names = 
#modificar - colocar uma variavel com os nomes das colunas e chamar pelo indice (pode haver coluna escrita diferente)
df = df.rename(columns={"Dia do\rinvestimento":'Data','Quantidade de\rapostas':'Quantidade apostas', 'Resultado em %\rsobre a banca':'resultado sobre a banca'})
# df

In [40]:
try:
    df['Invest'] = df['Invest'].str.replace('R$ ', '').str.replace('[^\d.-]', '.').str.replace(',', '.').str.replace(' ', '').astype(float)
    df['Retorno'] = df['Retorno'].str.replace('R$ ', '').str.replace('[^\d.-]', '.').str.replace(',', '.').str.replace(' ', '').astype(float)
    df['Quantidade apostas'] = df['Quantidade apostas'].astype(int)
except ValueError as errorCod:
    print("Unable to convert a value: ", errorCod)

In [41]:
df.info()
df.describe()
df

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Data                                 4 non-null      datetime64[ns]
 1   Quantidade apostas                   4 non-null      int32
em % sobre a banca  4 non-null      object
 3   Invest                               4 non-null      float64
 4   Retorno                              4 non-null      float64
dtypes: datetime64[ns](1), float64(2), int32(1), object(1)
memory usage: 176.0+ bytes

,Data,Quantidade apostas,Resultado do dia\rem % sobre a banca,Invest,Retorno
0,2023-02-16,1,"+ 0,7750%",12.5,7.75
1,2023-02-17,1,"+ 1,2875%",12.5,12.87
2,2023-02-18,1,"+ 1,3250%",25.0,13.25
3,2023-02-19,1,"+ 1,2500%",25.0,12.50