In [12]:
import matplotlib.pyplot as plp
import pandas as pd
from tabulate import tabulate
import tabula

In [13]:
pdf = tabula.read_pdf('../Data/19-02 a 25-02.pdf', pages='all')

Transformo somente a tabela de valores de aposta e data em um dataframe do pandas, minha primeira tabela no caso.
Read pdf retorna um elemento da lista para cada tabela que encontra.

In [14]:
df = pd.DataFrame(pdf[0])
columnName = df.columns[2] #pego o nome da segunda coluna

Concateno todas as apostas discriminadas.

In [15]:
tabBets = pd.concat(pdf[1:], ignore_index=True)

Abaixo eu separo a coluna em dois, valo investido e o retorno

In [16]:
df[['Invest', 'Retorno']] = df[columnName].str.split(' / ', expand=True)

Removo a coluna que eu separei anteriormente.

In [17]:
df.drop(columns=columnName, inplace=True)

Removo meu index com o valor total, pois da problema com outras funções adiante. O valor total é um dado que eu posso calcular de forma simples após o tratamento de todos os dados.

In [18]:
# df.info()
df = df[df['Dia do\rinvestimento'] != 'TOTAL']

In [19]:
df = df[df['Quantidade de\rapostas'] != 'Sem apostas']
df['Dia do\rinvestimento'] = pd.to_datetime(df['Dia do\rinvestimento'], format='%d/%m/%Y')
# df.info()
# index_names = 
df = df.rename(columns={"Dia do\rinvestimento":'Data','Quantidade de\rapostas':'Quantidade apostas', 'Resultado em %\rsobre a banca':'resultado sobre a banca'})
# df

In [20]:
try:
    df['Invest'] = df['Invest'].str.replace('R$ ', '').str.replace('[^\d.-]', '.').str.replace(',', '.').str.replace(' ', '').astype(float)
    df['Retorno'] = df['Retorno'].str.replace('R$ ', '').str.replace('[^\d.-]', '.').str.replace(',', '.').str.replace(' ', '').astype(float)
    df['Quantidade apostas'] = df['Quantidade apostas'].astype(int)
except ValueError as errorCod:
    print("Unable to convert a value: ", errorCod)

In [21]:
df.info()
df.describe()
df

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 6
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     4 non-null      datetime64[ns]
 1   Quantidade apostas       4 non-null      int32
 2   resultado sobre a banca  4 non-null      object
 3   Invest                   4 non-null      float64
 4   Retorno                  4 non-null      float64
dtypes: datetime64[ns](1), float64(2), int32(1), object(1)
memory usage: 176.0+ bytes

        Data  Quantidade apostas resultado sobre a banca  Invest  Retorno
0 2024-02-19                   1               + 1,0192%   28.52    14.54
2 2024-02-21                   2               - 1,9997%   28.52   -28.52
3 2024-02-22                   1               + 0,9189%   14.26    13.11
6 2024-02-25                   2              + 2,1784%,   42.78    31.08